#guide.modal
    .modal-content
        ul.collapsible.popout(data-collapsible='accordion')
            li
                .collapsible-header 間取りの縦幅と横幅を決める
                .collapsible-body
                    a.breadcrumb 【基本設定】
                    a.breadcrumb 【建物設定】の横幅上限(m)と縦幅上限(m)を指定
            li
                .collapsible-header 畳の種類を変える
                .collapsible-body
                    a.breadcrumb 【基本設定】
                    a.breadcrumb 【間取設定】から畳の種類を選択
            li
                .collapsible-header 選択可能な間取りの種類を変える
                .collapsible-body
                    a.breadcrumb 【基本設定】
                    a.breadcrumb 【間取設定】から変更する間取の種類を選択し、間取の名称・色を指定
            li
                .collapsible-header 間取りの形を変える
                .collapsible-body
                    ul
                        li ・間取りの境界線をドラッグアンドドロップ
                        li ・間取りを0.5秒以上タッチしてドラッグアンドドロップ
            li
                .collapsible-header メモを書く
                .collapsible-body
                    a.breadcrumb 【メモを書く】
                    a.breadcrumb 手書きでメモを書く
    .modal-footer
        a.modal-close(class=btnDefault) 閉じる
