#guide.modal
    .modal-content
        ul.collapsible.popout(data-collapsible='accordion')
            li
                .collapsible-header 間取りを追加・変更する
                .collapsible-body
                    a.breadcrumb 【間取を追加する】 / 間取をクリック
                    ul
                        li 間取りの大きさと種類を指定して下さい
                        span.blue-text 追加した間取の大きさや種類に応じた面積が坪数に加算されます
            li
                .collapsible-header 間取りの形を変える
                .collapsible-body
                    ul
                        li 間取りの境界線をタッチして移動して下さい
                        li 間取りを0.5秒以上タッチしてから移動して下さい
                        span.blue-text 上に移動したら縦に、右に移動したら横に広がります
            li
                .collapsible-header 建物の大きさを制限する
                .collapsible-body
                    a.breadcrumb 【基本設定】
                    a.breadcrumb 【建物設定】の横幅上限(m)と縦幅上限(m)を指定
                    ul
                        li 指定した大きさを超えた場合にメッセージが表示されます
            li
                .collapsible-header 畳の種類を変える
                .collapsible-body
                    a.breadcrumb 【基本設定】
                    a.breadcrumb 【間取設定】から畳の種類を選択
                    ul
                        li 坪数が指定した種類に応じた面積に変わります
            li
                .collapsible-header 間取りの種類を変える
                .collapsible-body
                    a.breadcrumb 【基本設定】
                    a.breadcrumb 【間取設定】から変更する間取の種類を選択し、間取の名称・色を指定
                    ul
                        li 階段等、複数階にまたがって配置する場合は【指定した上位階まで連続して配置】を設定して下さい
                        span.blue-text この場合指定した階数分の面積が加算されます
                        li 面積に含めたくない場合(バルコニー等)は【面積に含めない】にチェックを入れて下さい
            li
                .collapsible-header メモを書く
                .collapsible-body
                    a.breadcrumb 【メモを書く】
                    a.breadcrumb 手書きのメモを書くことができます
                    ul
                        li
                            i.material-icons undo
                            span で書いたメモを戻したり、
                            i.material-icons redo
                            span で進めることができます
                        li 【メモを消す】で全てのメモを消去します (元に戻せません)
            li
                .collapsible-header 保存する
                .collapsible-body
                    a.breadcrumb 【エクスポート】
                    ul
                        li 作成した間取り図を保存します
                        span.blue-text メモは保存されません
                        li 【インポート】から保存したファイルを読み込むと保存した間取を復元できます
    .modal-footer
        a.modal-close(class=btnDefault, href='#!') 閉じる
