.navbar-fixed
    nav
        .nav-wrapper
            ul.left
                li
                    a#menu(href='#!', data-activates='side')
                        i.material-icons.right menu
            a.brand-logo 間取り
            ul.right
                li
                    span#tubo.chip 0 坪
