doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css')
        title 間取り
    body
        .navbar-fixed
            nav
                .nav-wrapper
                    a.brand-logo 間取り
                    ul.right
                        li
                            span#tubo.chip 0 坪
                        li
                            a#menu(href='#!', data-activates='side')
                                i.material-icons.right menu
        ul#side.side-nav
            li
                table.centered.bordered
                    tbody
                        tr
                            td
                                a#zoomOut(href='#!')
                                    i.material-icons zoom_out
                            td
                                span#zoomLevel
                            td
                                a#zoomIn(href='#!')
                                    i.material-icons zoom_in
                        tr
                            td
                                a#floorDown(href='#!')
                                    i.material-icons keyboard_arrow_left
                            td
                                span#floor
                            td
                                a#floorUp(href='#!')
                                    i.material-icons keyboard_arrow_right
            li
                .file-field.input-field
                    .btn
                       span インポート
                       input#import(type='file')
                    .file-path-wrapper
                        input.file-path.validate(type='text')
            li
                a#export.waves-effect.waves-light.btn エクスポート
            li
                a#toti.waves-effect.waves-light.btn 基本設定
            li
                a#madori.waves-effect.waves-light.btn.red 間取を追加
        #madoriForm.modal.modal-fixed-footer
            .modal-content
                p.range-field
                    | 広さ (畳)
                    input#size(type='range', min='0.25', max='20', step='0.25')
                .input-field
                    select#type
                .input-field
                    select#wall(multiple)
                        option(value='top') 上
                        option(value='left') 左
                        option(value='right') 右
                        option(value='bottom') 下
                    label 壁
            .modal-footer
                a#add.modal-close.waves-effect.waves-light.btn 追加
                a#remove.modal-close.waves-effect.waves-light.btn.red 削除
                a#change.modal-close.waves-effect.waves-light.btn 変更
        #settingForm.modal.modal-fixed-footer
            .modal-content
                blockquote 建物設定
                .input-field
                    label(for='width') 横幅上限(m)
                    input#width(type='number', min='1')
                .input-field
                    label(for='height') 縦幅上限(m)
                    input#height(type='number', min='1')
                blockquote 間取設定
                .input-field
                    select#unit
                ul#types.collapsible.popout(data-collapsible='accordion')
                a.add-types.waves-effect.waves-light.btn.right 追加
            .modal-footer
                a#setting.modal-close.waves-effect.waves-light.btn 適用
        li#typeList.hide
            .collapsible-header
            .collapsible-body
                .row
                    input.id(type='hidden')
                    .input-field.col.s12.m10
                        input.name
                    .input-field.col.s12.m2
                        input.color(type='color')
                    p.range-field.col.s12.m6
                        | 指定した上位階まで連続して配置
                        input.rate(type='range', value='0', min='0', max='4')
                    .input-field.col.s12.m6
                        input.ignore(type='checkbox')
                        label 面積に含めない
                    .col.s12
                        a.rm-types.waves-effect.waves-light.btn.red.right 削除
        canvas#canvas.z-depth-2
        a#left.btn-floating.hide(style='position:fixed; left: 5px; top:50%;')
            i.material-icons arrow_back
        a#top.btn-floating.hide(style='position:fixed; left: 50%; top:70px; margin-left: -18.5px')
            i.material-icons arrow_upward
        a#bottom.btn-floating.hide(style='position:fixed; left: 50%; bottom:5px; margin-left: -18.5px')
            i.material-icons arrow_downward
        a#right.btn-floating.hide(style='position:fixed; top:50%; right: 5px')
            i.material-icons arrow_forward
        script(src='https://code.jquery.com/jquery-3.1.0.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js')
        script(src='https://code.createjs.com/easeljs-0.8.2.min.js')
        script(src='/js/madori.js')
        script(src='/js/main.js')
