extends layout.pug
block content
    - var btnDefault = 'waves-effect waves-light btn';
    - var btnPrimary = 'waves-effect waves-light btn red';
    include header
    include sidebar
    include guide
    include madori
    include setting
    include types
    canvas#canvas.madori-mode.memo-mode.z-depth-2
    canvas#preview.preview-mode.z-depth-2
