doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css')
        title 間取り
    body
        .navbar-fixed
            nav
                .nav-wrapper
                    a.brand-logo 間取り
                    ul.right
                        li
                            span#tubo.chip 0 坪
                        li
                            a#menu(href='#!', data-activates='side')
                                i.material-icons.right menu
        ul#side.side-nav
            li
                .file-field.input-field
                    .btn
                       span インポート
                       input#import(type='file')
                    .file-path-wrapper
                        input.file-path.validate(type='text')
            li
                a#export.waves-effect.waves-light.btn エクスポート
            li
                a#add.waves-effect.waves-light.btn 間取を追加
        #form.modal.modal-fixed-footer
            .modal-content
                .input-field
                    label(for='size') 畳
                    input#size(type='number')
                .input-field
                    select#type
                        option(value='1') 洋室
                        option(value='2') 和室
                        option(value='3') トイレ
                        option(value='4') お風呂
                        option(value='5') 洗面所
                        option(value='6') 廊下
                        option(value='7') 階段
                        option(value='8') 玄関
                        option(value='9') その他
                .input-field
                    select#unit
                        option(value='1.70') 畳 (団地間)
                        option(value='1.76') 畳 (江戸間)
                        option(value='1.82') 畳 (中京間)
                        option(value='1.91') 畳 (京間)
            .modal-footer
                a#remove.waves-effect.waves-light.btn.red(href='#!') 削除
                a#change.waves-effect.waves-light.btn(href='#!') 変更
        canvas#madori
        script(src='https://code.jquery.com/jquery-3.1.0.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js')
        script(src='https://code.createjs.com/createjs-2015.11.26.min.js')
        script(src='/js/main.js')
