doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css')
        title 間取り
    body
        block content

        script(src='https://code.jquery.com/jquery-3.1.0.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js')
        script(src='https://code.createjs.com/easeljs-0.8.2.min.js')
        script(src='/js/madori.js')
        script(src='/js/main.js')
