#madoriForm.modal.modal-fixed-footer
    .modal-content
        p.range-field
            | 広さ (畳)
            input#size(type='range', min='0.25', max='20', step='0.25')
        .input-field
            select#type
        .input-field
            select#wall(multiple)
                option(value='top') 上
                option(value='left') 左
                option(value='right') 右
                option(value='bottom') 下
            label 壁
    .modal-footer
        a#add.modal-close.waves-effect.waves-light.btn 追加
        a#remove.modal-close.waves-effect.waves-light.btn.red 削除
        a#change.modal-close.waves-effect.waves-light.btn 変更
