a#left.btn-floating.hide(style='position:fixed; left: 5px; top:50%;')
    i.material-icons arrow_back
a#top.btn-floating.hide(style='position:fixed; left: 50%; top:70px; margin-left: -18.5px')
    i.material-icons arrow_upward
a#bottom.btn-floating.hide(style='position:fixed; left: 50%; bottom:5px; margin-left: -18.5px')
    i.material-icons arrow_downward
a#right.btn-floating.hide(style='position:fixed; top:50%; right: 5px')
    i.material-icons arrow_forward
