#settingForm.modal.modal-fixed-footer
    .modal-content
        form
            blockquote 建物設定
            .input-field
                label(for='width') 横幅上限(m)
                input#width(type='number', min='1')
            .input-field
                label(for='height') 縦幅上限(m)
                input#height(type='number', min='1')
            blockquote 間取設定
            .input-field
                select#unit
            ul#types.collapsible.popout(data-collapsible='accordion')
            a.add-types.right(class=btnDefault, href='#!') 追加
    .modal-footer
        a#setting.modal-close(class=btnDefault, href='#!') 適用
