#guide .collapsible-body, #guide .collapsible-header {
    padding: 0.5rem;
    line-height: 1rem;
    min-height: 1rem;
}
#guide .breadcrumb, #guide .breadcrumb:before, #guide i {
    color: rgba(0,0,0,0.87);
    font-size: 14px;
}
#guide i {
    padding: 0 0.25rem;
}
#guide .collapsible-body li {
    margin-top: 1rem;
    list-style-type: initial;
    list-style-position: inside;
}
