door-main
    .mdl-grid
        div(class=`{ col3 }`)
        div(class=`{ col1 }`)
            a.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--colored(href='#madori')
                i.material-icons keyboard_return

    script.
        this.mixin('grid');
